#calandar .content {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #448dd683
}
#calandar .content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}